@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&family=Open+Sans:wght@300;500&family=Poppins&display=swap');

* {
    margin: 0;
    padding: 0;
}

.text-center {
    text-align: center;
}

header {
    height: 54px;
    background-color: lightgray;
    display: flex;
}

.head img {
    margin: -20px;
    margin-left: 25px;
    margin-right: 20px
}

.search {
    font-family: 'Open Sans', sans-serif;
    height: 35px;
    width: 597.5px;
    border-radius: 9px;
    border: none;
    background-color: rgb(227, 244, 248);
    margin: 10px;
}

.user {
    color: black;
    margin-left: 40px;
}

.cart {
    color: black;
    margin-left: 50px;
}

.store {
    color: black;
    margin-left: 70px;
}

main {
    background-color: aliceblue;
    min-height: calc(100vh - 54px - 12vh);
}

.maintop {
    height: 80px;
    background-color: white;
    margin: 10px;
}

.maintop-items {
    display: flex;
    justify-content: space-between;
    height: 95px;
    margin: 2px 15px 1px 20px;
}

.maintop-items img {
    height: 60px;

}

.maintop-items img:hover {
    height: 65px;
    cursor: pointer;
    animation: ease-in-out;
    border: 5px outset wheat;
    border-radius: 5px;
}

.firstimage {
    margin: 8px 40px 0px 50px;
}

.firstimage img:hover {
    border: 5px solid rgb(230, 230, 170);
    height: 450px;
    /* width:1600px ; */
    animation: ease-in-out;
}

h2 {
    margin: 27px;
}

.mainbottom {
    display: flex;
    justify-content: space-between;
}

.cards {
    margin: auto;
    border: 0.5px solid gray;
    border-radius: 2px;
}

.cards img {
    height: 200px;
    width: 200px;
}

.cards img:hover {
    height: 220px;
    width: 220px;
    animation: ease-in-out;
    border: 2px solid wheat;
    border-radius: 5px;

}

.firstimage {
    /* width: 100vh; */
    display: flex;
    align-items: center;
    justify-content: center;
}

.firstimage img {
    height: 400px;
    width: 1525px;

}

.down {
    width: 45%;
    display: flex;
    justify-content: flex-start;
    margin: 29px;
}

.maindown {
    width: 100vh;
    display: flex;

}

.c-1 {
    margin: 10px;
    height: 266px;
    width: 200px;
}

.c-2 {
    margin: 10px;
    height: 266px;
    width: 200px;
}

.bestsellingphone {
    margin: 84px;
    height: 515px;
    width: 600px;
    margin-top: 10px;
}

footer {
    height: 100vh;
    background-color: rgb(233, 230, 197);
    color: grey;
}

.footertext {
    margin: 35px;
}